/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

svg {

  border: 3px solid;
  border-color: red;
}


.human {
  stroke: red;
  fill: red;
}

.enemy{
    transform-origin: 50% 40%;

    -webkit-animation-name: rotate;
    -webkit-animation-duration: 3s;

    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}


.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  stroke-dasharray: 2,5;
}
